/* 

body {
  background: #fff;
  background-image: radial-gradient(#999 5%, transparent 0);
  background-size: 35px 35px;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 3.5em;
  text-align: center;
  margin-top: 2em;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.5em;
  font-weight: 700;
  letter-spacing: 6px;
} */
